<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:image" content="{% if page.cover %} {{page.cover}} {% else %} {{site['pages'][site['root_page_id']]['cover']}} {% endif %}" />
  {% if 'md_content' in page.keys() %}<meta property="og:description" content="{{page['md_content'][:150]}}" />{% endif %}
  <meta property='og:site_name' content="{{site['pages'][site['root_page_id']]['title']}}" />
  <meta property="og:url" content="{{page.url}}" />
  <link rel="stylesheet" href="{{site.base_url}}/css/main.css">
  <!-- Fontawesome icons -->
  <script src="https://kit.fontawesome.com/74cb2acb7c.js" crossorigin="anonymous"></script>
  <!-- Mathjax -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  {% block tab_favicon %}
  {% if page.emoji %}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{page.emoji}}</text></svg>">
  {% elif page.icon %}
  <link rel="icon" href="{{page.icon}}">
  {% else %}
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📜</text></svg>">
  {% endif %}
  {% endblock tab_favicon %}
  {% block tab_title %}
  <title>{{page.title}}</title>
  {% endblock tab_title %}
  {% endblock head%}
</head>
