<!DOCTYPE html>
<html lang="en">
  {% include '_head.html' %}
  <body>
    {% include '_header.html' %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="page">
          <header class="page-header">
          {% block page_header %}
            {% block page_title %}
            <div class="page-title" >{{ page.title }}</div>
            {% endblock page_title %}
            {% block page_date %}
            <p class="page-meta">
              <time class="dt-published" datetime="{{ page['last_edited_time'].strftime("%d %b, %Y") }}" itemprop="datePublished">
                {% if page.date_end %}
                Dates: {{ page['date'].strftime("%d %b, %Y") }} - {{ page['date_end'].strftime("%d %b, %Y") }}
                {% elif page.date %}
                Date: {{ page['date'].strftime("%d %b, %Y") }}
                {% else %}
                Last edited: {{ page['last_edited_time'].strftime("%d %b, %Y") }}
                {% endif %}
              </time>
            </p>
            {% endblock page_date %}
            {% if page.type == 'db_entry' %}
            {% if page.properties_md|length > 1 %}
            {% block page_properties %}
            {% include '_properties_table.html' %}
            {% endblock page_properties %}
            {% endif %}
            {% endif %}
          {% endblock page_header %}
          </header>
          <div class="page-content">
            {% block page_content %}
            {% if 'db_list' in page.keys() %}
            {% include '_list.html' %}
            {% elif page.type == 'database' %}
            {% include '_gallery.html' %}
            {% else %}
            {{ content }}
            {% endif %}
            {% endblock page_content %}
          </div>
        </article>
      </div>
    </main>
    {% block footer %}
    {% if site["include_footer"] %}
    {% include '_footer.html' %}
    {% endif %}
    {% endblock footer %}
  </body>
</html>